html body.cre-t-21 .main-header .sec-wrap {
    display: none;
}

html body.cre-t-21 .cre-t-21-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

html body.cre-t-21 .main-header {
    padding-top: 60px;
    padding-bottom: 40px;
}

html body.cre-t-21 .cre-t-21-left-side {
    max-width: 650px;
    width: 100%;
}

html body.cre-t-21 .cre-t-header-content {
    color: #383F4D;
    font-style: normal;
    line-height: 64px;
    padding-bottom: 20px;
    font-family: Pay, Europa, sans-serif;
    font-weight: 400;
    font-size: 56px;
}

html body.cre-t-21 .cre-t-subHeader-content {
    color: #383f4d;
    font-family: "Europa", Arial, sans-serif;
    font-size: 18.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.09px;
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    max-width: 600px;
}

html body.cre-t-21 .cre-t-21-create-button {
    border-radius: 8px;
    background: #D03643;
    display: flex;
    width: 280px;
    padding: 14px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: var(--line-height-30_8, 30.8px);
    cursor: pointer;
}

html body.cre-t-21 .cre-t-21-contact-button {
    border-radius: 8px;
    border: 1px solid #3066C9;
    display: flex;
    width: 240px;
    padding: 14px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #3066C9;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: var(--line-height-30_8, 30.8px);
    cursor: pointer;
}

html body.cre-t-21 .cre-t-button-main {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

html body.cre-t-21 .cre-t-21-button-text-bottom {
    color: #383f4d;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height-30_8, 30.8px);
}

html body.cre-t-21 .cre-t-21-earn-points {
    color: #3066C9;
}

html body.cre-t-21 .cre-t-21-right-side {
    max-width: 470px;
}

html body.cre-t-21 .cre-t-21-trusted-points,
html body.cre-t-21 .cre-t-21-free {
    font-weight: 700;
}


@media screen and (min-width: 899px) and (max-width: 1108px) {
    html body.cre-t-21 .cre-t-header-content {
        font-size: 40px;
        line-height: 50px;
    }

    html body.cre-t-21 .cre-t-subHeader-content {
        margin: 0 auto;
    }

    html body.cre-t-21 .cre-t-21-contact-button {
        width: 280px;
    }
}

@media screen and (max-width: 898px) {
    html body.cre-t-21 .cre-t-21-main {
        flex-direction: column;
        text-align: center;
    }

    html body.cre-t-21 .cre-t-header-content {
        font-size: 48px;
        line-height: 58px;
    }

    html body.cre-t-21 .main-header {
        padding-top: 30px;
    }

    html body.cre-t-21 .cre-t-button-main {
        justify-content: center;
    }

    html body.cre-t-21 .cre-t-21-contact-button {
        width: 280px;
    }

    html body.cre-t-21 .cre-t-subHeader-content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    html body.cre-t-21 .cre-t-21-main {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }

    html body.cre-t-21 .cre-t-header-content {
        text-align: center;
        padding-bottom: 20px;
        font-size: 44px;
        line-height: 48px;
        font-weight: 400 !important;
    }

    html body.cre-t-21 .cre-t-subHeader-content {
        padding-bottom: 30px;
    }

    html body.cre-t-21 .cre-t-button-main {
        justify-content: center;
        gap: 16px;
    }

    html body.cre-t-21 .cre-t-21-contact-button {
        width: 100%;
        max-height: 58.8px;
    }

    html body.cre-t-21 .cre-t-21-create-button {
        width: 100%;
    }

    html body.cre-t-21 .cre-t-subHeader-content {
        margin: 0 auto;
    }

    html body.cre-t-21 .cre-t-21-button-text-bottom {
        line-height: 22px;
    }
}


@media screen and (max-width: 390px) {
    html body.cre-t-21 .cre-t-header-content {
        font-size: 40px;
        line-height: 42px;
    }
}