html body.cre-t-161.cre-t-161-modal-open .cre-t-161-modal-main {
    display: block !important;
}

html body.cre-t-161 .cre-t-161-modal-main {
    display: none !important;
}

html body.cre-t-161 .cre-t-161-modal-main.active {
    display: block !important;
}

html body.cre-t-161-modal-open {
    overflow: hidden;
}

/* ===========================
MODAL OVERLAY
=========================== */
html body.cre-t-161 .cre-t-161-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --tw-backdrop-blur: blur(4px);
    z-index: 2147483646 !important;
    background-color: rgba(39, 43, 46, .8);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

/* ===========================
MODAL CONTENT (SCALE BASED)
=========================== */
html body.cre-t-161 .cre-t-161-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    padding: 52px 74px;
    background-color: #fff;
    max-width: 817px;
    width: calc(100% - 20px);
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 2147483647 !important;
    border-radius: 8px;
}

/* ===========================
BADGE + CLOSE ICON
=========================== */
html body.cre-t-161 .cre-t-161-modal-cross-icon-wrapper {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

html body.cre-t-161 .cre-t-161-modal-cta:hover {
    cursor: pointer;
}

html body.cre-t-161 .cre-t-161-modal-cta-text {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
}

/* Responsive */
@media (max-width: 1023px) {
    html body.cre-t-161 .cre-t-161-modal-content {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 767px) {
    html body.cre-t-161 .cre-t-161-modal-content {
        transform: translate(-50%, -50%) scale(0.9);
        padding: 8px 0px;
        width: calc(100% - -25px);
    }

    html body.cre-t-161 .cre-t-161-modal-cta {
        padding: 10px 10px;
    }

    html body.cre-t-161 .cre-t-161-modal-cross-icon-wrapper .cre-t-161-cross-icon {
        width: 100%
    }

    html body.cre-t-161 .cre-t-161-modal-cross-icon-wrapper {
        max-width: 20px;
    }

    html body.cre-t-161 .cre-t-161-modal-cta-text {
        font-size: 14px;
    }
}

/*
@media screen and (max-width: 374px) {
html body.cre-t-161 .cre-t-161-modal-content {
transform: translate(-50%, -50%) scale(0.8);
width: calc(100% - -50px);
}
} */
@media screen and (max-width: 376px) {
    html body.cre-t-161 .cre-t-161-modal-content {
        max-height: 100vh;
        overflow-y: auto;
    }
}

/* own css */
html body.cre-t-161 .cre-t-161-main-title {
    --tw-text-opacity: 1;
    color: rgb(39 43 46/var(--tw-text-opacity, 1));
    letter-spacing: 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: var(--font-abril-fatface), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-top: 28px;
    padding: 0px 20px;
}

html body.cre-t-161 .cre-t-161-modal-benefits-checklist-item {
    display: flex;
    gap: 9px;
    padding: 8px 0px;
}

html body.cre-t-161 .cre-t-161-modal-benefits-checklist-item svg {
    width: 100%;
    max-width: 24px;
}

html body.cre-t-161 .cre-t-161-modal-cta-text {
    border-radius: .25rem;
    text-decoration-line: none;
    transition-duration: .5s;
    font-size: .9375rem;
    line-height: 1.5rem;
    animation-duration: .5s;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: rgb(38 86 130/var(--tw-bg-opacity, 1));
    font-weight: 700;
}

html body.cre-t-161 .cre-t-161-subtitle-text {
    padding: 0px 20px;
    margin: 12px 0px 8px 0px;
    --tw-text-opacity: 1;
    color: rgb(94 101 112/var(--tw-text-opacity, 1));
}

html body.cre-t-161 .cre-t-161-modal-benefits-checklist-title {
    --tw-text-opacity: 1;
    color: rgb(94 101 112/var(--tw-text-opacity, 1));
}

html body.cre-t-161 .cre-t-161-modal-benefits-checklist {
    padding: 0px 20px;
    margin: 12px 0px 8px 0px;
}

html body.cre-t-161 .cre-t-161-modal-benefits-checklist-item strong {
    color: var(--tw-prose-bold);
    font-weight: 600;
    font-family: inherit;
    font-size: 16px;
}

html body.cre-t-161 .cre-t-161-modal-benefits-checklist-item-p {
    --tw-text-opacity: 1;
    color: rgb(94 101 112/var(--tw-text-opacity, 1));
    line-height: 1.625;
    font-size: 16px;
    font-family: inherit;
}

html body.cre-t-161 .cre-t-161-modal-benefits-checklist-item-icon img {
    width: 22px;
    height: 22px;
}

html body.cre-t-161 .cre-t-161-modal-benefits-checklist-item-text {
    width: 100%;
}

html body.cre-t-161 .cre-t-161-modal-cta {
    position: sticky;
    /* bottom: 0; */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

@media screen and (max-width: 375px) {
    html body.cre-t-161 .cre-t-161-modal-content {
        padding-bottom: 0px;
    }
}