/* https://buckfirelaw.com/case-types/personal-injury/ */

html body.BuckfireLaw_12 .testimonial-card {
    max-width: 428px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
}

html body.BuckfireLaw_12 .testimonial-card__media {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 428 / 240;
}

html body.BuckfireLaw_12 .testimonial-card__video-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

html body.BuckfireLaw_12 .testimonial-card__thumb {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


html body.BuckfireLaw_12 .testimonial-card__body {
    display: flex;
    padding: 12px 0 15px 0;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    text-align: center;
    border-right: 1px solid #D37935;
    border-bottom: 1px solid #D37935;
    border-left: 1px solid #D37935;
}

html body.BuckfireLaw_12 .testimonial-card__title {
    color: #D37935;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
}

html body.BuckfireLaw_12 .testimonial-card__quote {
    color: #363737;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
}

html body.BuckfireLaw_12 .testimonial-card__author {
    color: #363737;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
}