html body[data-path="/"] #comparison-section .see-plans-button,
html body[data-path="/home/"] #comparison-section .see-plans-button {
    background: #0272e4 !important;
    border-radius: 55px !important;
}

html body[data-path="/"] #comparison-section .see-plans-button span,
html body[data-path="/home/"] #comparison-section .see-plans-button span {
    font-size: 0 !important;
    line-height: 0;
}

html body[data-path="/"] #comparison-section .see-plans-button span::after,
html body[data-path="/home/"] #comparison-section .see-plans-button span::after {
    content: "See Plans";
    font-size: 1.6rem;
    line-height: 1.1em;
}

html body[data-path="/"] #comparison-section .see-plans-button:hover,
html body[data-path="/home/"] #comparison-section .see-plans-button:hover {
    background: rgb(2 114 228 / 80%) !important;
}

html body[data-path="/"] #comparison-section [data-unique="comparison-table"]>.ct-div-block:first-child,
html body[data-path="/home/"] #comparison-section [data-unique="comparison-table"]>.ct-div-block:first-child {
    border: 0;
    box-shadow: none;
}

html body[data-path="/"] #comparison-section .plan-box,
html body[data-path="/home/"] #comparison-section .plan-box {
    border: 1px solid;
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #000;
}

html body[data-path="/"] #comparison-section [data-unique="comparison-table"]>.ct-div-block .plan-box,
html body[data-path="/home/"] #comparison-section [data-unique="comparison-table"]>.ct-div-block .plan-box {
    /* box-shadow:
        0 2px 14px rgba(17, 24, 39, 0.2),
        0 10px 30px rgba(17, 24, 39, 0.1); */

    box-shadow: 0 1px 6px rgba(17, 24, 39, 0.16), 0 6px 14px rgba(17, 24, 39, 0.08);
}

html body[data-path="/"] #comparison-section [data-unique="comparison-table"]>.ct-div-block:first-child .plan-box,
html body[data-path="/home/"] #comparison-section [data-unique="comparison-table"]>.ct-div-block:first-child .plan-box {
    box-shadow: none;
    margin-top: 0;
}

html body[data-path="/"] #comparison-section [data-unique="comparison-table"]>.ct-div-block:first-child,
html body[data-path="/home/"] #comparison-section [data-unique="comparison-table"]>.ct-div-block:first-child {
    /* box-shadow:
        0 2px 14px rgba(17, 24, 39, 0.2),
        0 10px 30px rgba(17, 24, 39, 0.1); */
    box-shadow: 0 1px 6px rgba(17, 24, 39, 0.16), 0 6px 14px rgba(17, 24, 39, 0.08);
    margin-top: 4rem;
}

html body[data-path="/"] #comparison-section .plan-repeater div:first-of-type .rating-bar,
html body[data-path="/home/"] #comparison-section .plan-repeater div:first-of-type .rating-bar {
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

html body[data-path="/"] #comparison-section .guarantee-container .best-price-label,
html body[data-path="/home/"] #comparison-section .guarantee-container .best-price-label {
    color: #383838;
}

html body[data-path="/"] #comparison-section .guarantee-container .oxy-popover_marker-inner,
html body[data-path="/home/"] #comparison-section .guarantee-container .oxy-popover_marker-inner {
    color: #383838 !important;
}

html body[data-path="/"] #comparison-section .plan-box .number-bubble.best-overall-bubble,
html body[data-path="/home/"] #comparison-section .plan-box .number-bubble.best-overall-bubble {
    background-color: #5e1394;
    border-radius: 55px;
}

html body[data-path="/"] #comparison-section .oxy-read-more-link.oxy-read-more-link,
html body[data-path="/home/"] #comparison-section .oxy-read-more-link.oxy-read-more-link {
    background: #f5f5f9 !important;
    color: #000 !important;
    border: 1px solid #000;
    border-radius: 55px !important;
}

html body[data-path="/"] #comparison-section .oxy-read-more-link.oxy-read-more-link:hover,
html body[data-path="/home/"] #comparison-section .oxy-read-more-link.oxy-read-more-link:hover {
    background: #fff !important;
    color: #0272e4 !important;
    border: 1px solid #0272e4;
    border-radius: 55px !important;
}