html body.cre-t-202.cre-t-253 .cro-subtotal-line {
    order: 2;
}

html body.cre-t-253 .cro-subtotal-line {
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 17px;
    margin: 14px 0;
    text-align: center;
}