@media screen and (max-width: 600px) {
  html body.cre-t-160 [data-times-available="true"] a .leading-tight.whitespace-nowrap {
    display: none !important;
  }

  html body.cre-t-160 [data-attribute="restaurant-title-row"] h3,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] h3 a {
    color: #272b2e;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  html body.cre-t-160 [data-attribute="restaurant-list-location"] a.flex {
    cursor: none;
    text-decoration: none;
    text-underline-offset: unset;
    color: #5e6570;
    font-family: inherit;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-14, 14px);
  }

  html body.cre-t-160 [data-attribute="restaurant-list-location"] a svg {
    display: none;
  }

  html body.cre-t-160 .cre-t-160-tag-wrapper {
    display: block !important;
  }

  html body.cre-t-160 [data-attribute="booking-fee-element"] ~ a[href="/frequent-foodies"] {
    display: none;
  }

  html body.cre-t-160 .cre-t-160-box-wrapper {
    border-radius: 85px;
    background: #f7f7f8;
    display: inline-flex;
    padding: 5px 12px;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  /* Per person and fee css */
  html body.cre-t-160 .cre-t-160-container {
    display: flex;
    gap: 5px;
  }

  html body.cre-t-160 .cre-t-160-box-wrapper .cre-t-160-text {
    color: #535a64;
    font-family: inherit;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-14, 14px); /* 140% */
  }

  html body.cre-t-160 .cre-t-160-box-wrapper.tag-2 .cre-t-160-icon {
    width: 12px;
    height: 8.5px;
    aspect-ratio: 12/9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5px;
  }

  html body.cre-t-160 .cre-t-160-box-wrapper.tag-1 .cre-t-160-icon {
    width: 9px;
    height: 12px;
    aspect-ratio: 9/12;
    display: flex;
    align-items: center;
  }

  html body.cre-t-160 .cre-t-160-box-wrapper.tag-1 .cre-t-160-icon svg,
  html body.cre-t-160 .cre-t-160-box-wrapper.tag-2 .cre-t-160-icon svg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  html body.cre-t-160 [data-attribute="restaurant-list-location"] {
    padding: 0px 0px 4px 0px;
    justify-content: center;
  }

  html body.cre-t-160 [data-attribute="restaurant-list-item"] .group.grid .col-span-2 > div > .items-center {
    display: none !important;
  }

  /* Review order for control flow */
  /* Review order for control flow */
  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > div + span.leading-none,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > div + span.leading-none,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] + a > div > div + span.leading-none {
    margin-left: -3px;
  }

  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > span,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-123-review-container > div:first-child > span,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] + a > div > span {
    color: #272b2e;
    font-family: inherit;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 400;
  }

  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > div,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-123-review-container > div:first-child > div,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] + a > div > div {
    order: 1;
    margin: 0px;
    transform: scale(0.9);
    position: relative;
    left: -4px;
    top: -1.5px;
  }

  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > span.sr-only + span:not(.leading-none),
  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-123-review-container > div:first-child > span.sr-only + span:not(.leading-none),
  html body.cre-t-160 [data-attribute="restaurant-title-row"] + a > div > span.sr-only + span:not(.leading-none) {
    order: 2;
    margin: 0px 0px 0px -2px;
    display: none !important;
  }

  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > div + span.leading-none,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-123-review-container > div:first-child > div + span.leading-none,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] + a > div > div + span.leading-none {
    order: 3;
  }

  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > div + span.leading-none + span,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-123-review-container > div:first-child > div + span.leading-none + span,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] + a > div > div + span.leading-none + span {
    order: 4;
  }

  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > div + span.leading-none + span + span + span,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] ~ .cre-t-123-review-container > div:first-child > div + span.leading-none + span + span + span,
  html body.cre-t-160 [data-attribute="restaurant-title-row"] + a > div > div + span.leading-none + span + span + span {
    order: 5;
  }

  /* This all optional code is to hide the menu and photos */

  html body.cre-t-160 [data-attribute="restaurant-list-item"] .cre-t-123-review-container {
    display: none !important;
  }

  html body.cre-t-160 [data-attribute="restaurant-list-item"][data-review-summary] .cre-t-123-link-review {
    display: block !important;
  }

  html body.cre-t-160 button[data-attribute="New_booking-time-button"] {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 3.5px 2px;
    background-color: rgb(38 86 130 / var(--tw-bg-opacity, 1));
  }

  html body.cre-t-160 [data-attribute="New_booking-time-button"] span {
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-14, 14px);
    /* 107.692% */
  }

  html body.cre-t-160 [data-attribute="New_booking-time-button"] span.ampm-span {
    font-size: 9px;
    text-transform: uppercase;
  }

  html body.cre-t-160 .cre-t-160-box-wrapper.tag-3 {
    border-radius: 5px;
    background: #eae5dc;
    color: #272b2e;
    font-family: inherit;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-14, 14px);
  }

  /* Button css */
  html body.cre-t-160 .cre-t-160-more-time-button,
  html body.cre-t-160 .cre-t-160-more-times-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #99a3ab1a;
    max-width: 354px;
    width: 100%;
    margin: 0 auto;
    margin-top: 17px;
    padding-top: 9px;
    gap: 4px;
    color: #275682;
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-14, 14px);
  }

  html body.cre-t-160 .cre-t-160-more-time-button svg,
  html body.cre-t-160 .cre-t-160-more-times-container svg {
    color: #275682;
  }

  html body.cre-t-160 .cre-t-160-remove-class {
    display: none !important;
  }

  html body.cre-t-160 .cre-t-160-remove-class-button .cre-t-160-remove-class {
    display: block !important;
  }

  html body.cre-t-160 .cre-t-160-remove-class-button .cre-t-160-more-times-container,
  html body.cre-t-160 .cre-t-160-remove-class-button .cre-t-160-more-time-button {
    display: none !important;
  }

  html body.cre-t-160 .cre-t-160-box-wrapper.service-wrapper.tag-3 .cre-t-160-text {
    color: #272b2e;
  }

  html body.cre-t-160 [data-attribute="restaurant-list-item"] .cre-t-129-review-ai-icon {
    width: 16px;
    height: 16px;
  }

  html body.cre-t-160 [data-attribute="restaurant-list-item"] .cre-t-129-review-ai-text {
    font-size: 13px;
  }

  html body.cre-t-160.cre-t-129-v5 [data-attribute="restaurant-title-row"] ~ .cre-t-129-review-container > div:first-child > div,
  html body.cre-t-160.cre-t-129-v5 [data-attribute="restaurant-title-row"] ~ .cre-t-123-review-container > div:first-child > div,
  html body.cre-t-160.cre-t-129-v5 [data-attribute="restaurant-title-row"] + a > div > div {
    margin-right: 3px;
  }

  html body.cre-t-160 [data-attribute="restaurant-list-item"] > div > div > div.flex.self-stretch {
    gap: 7px !important;
  }

  html body.cre-t-160 [data-times-available="true"] a img {
    height: 108px;
    object-fit: cover;
  }
  html body.cre-t-160 [data-times-available="false"] div.font-semibold.absolute {
    margin-top: 5px;
  }

  html body.cre-t-160 [data-times-available="true"] {
    row-gap: 10px;
  }

  html body.cre-t-160 .cre-t-160-photos-item:active,
  html body.cre-t-160 .cre-t-160-menu-item:active {
    background-color: #e3e6e6; /* slightly darker than #F2F4F4 */
    transform: scale(0.98);
  }
}